<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Click to Check the Quote for the Day</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

  <body>
    <h1>Random quote</h1>
    <form method="get" action="/">
    <button type="submit">Get Another Quote(4 times each minutes)</button>
    </form>
    <div>
     {{ html_quote | safe }}
    </div>
  </body>
  </html>